@charset "UTF-8"; /* Just in case. No harm done. */

/* === FONTS  === */
body{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 1em;
}
code{
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono",
    "Consolas", "Ubuntu Mono", "Courier New", "andale mono",
    "lucida console", monospace; /* GitLab */
    font-size: 12px;
}
.comment{ font-style: italic; }

/* === PAGE COLORS  === */
body{
    background-color: #FBFCFC; /* BABY POWDER */
}
.banner h1{ color: #030504; /* RICH BLACK (FOGRA39)  */ }
nav{ background-color: #030504; /* RICH BLACK (FOGRA39)  */ }
#hamnav { background: #000; }
.button a{ color: #dcdfde; /* GAINSBORO */ }
.button a:hover{
    color: #ff216e; /* AWESOME */
    background-color: #121413; /* LICORICE */
}
p a, li a{ color: #ff216e; /* AWESOME */ }
p a:hover, li a:hover{ color: #ff216e; /* AWESOME */ }
p a:visited, li a:visited{ color: #980D2C; /* ROSEWOOD */ }
pre{
    background-color: #EADEEF; /* PALE PURPLE (PANTONE) */
    border-color: #6A5E8D;
}
pre code{
    color: #2A1E5C; /* RUSSIAN VIOLET */
}
.comment{
    color: #918595; /* TAUPE GRAY */
}
p code, li > code{
    background-color: #E0E1E1; /* PLATINUM */
    color: #1C1E1D; /* EERIE BLACK */
}
footer[role=contentinfo]{ background-color: #030504; /* RICH BLACK */ }
footer[role=contentinfo] h3{ color: #dcdfde; }

/* === DECORATION CLASSES  === */
.text-shadow{
    text-shadow: 2px 2px 1px rgba(255,255,255,1),
    4px 4px 1px rgba(50,50,50,0.25);
}
.box-shadow{
    box-shadow: 2px 2px 1px rgba(255,255,255,1),
    4px 4px 1px rgba(50,50,50,0.25);
}
.circle{
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

/* === BLOCKS  === */
pre{
    display: block;
    overflow-x: auto;
    min-width: 90%;
    min-height: 3em;
    padding: 8px 12px;
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
p code, li > code{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
pre code{
    margin-right: 10px;
    padding-right: 10px;
}
#container{
    max-width: 950px;
    width: 90%;
    margin: 5px auto;
}
.clear{
    clear: both;
    /* NOTE:
     * should add the clear-fix recommended by the book
     * */
}

/* === HEAD NAV === */
nav li{
    float: left;
    padding: 0 5px;
}
/* hamburger default */
/* banner */
#hamnav { width: 100%; }
/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }
/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
    width: 25%; /* 100% / 5 tabs = 20% */
    padding: 10px;
}

/* === MAIN CONTENT === */


/* === MANEAGE BANNER === */
.banner{
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.banner div{
    display: inline-block;
    vertical-align: middle;
}
.banner h1{
    font-size: 300%;
    vertical-align: middle;
}
.banner h2{
    font-size: 100%;
}
.banner img{
    min-width: 170px;
    min-height: 170px;
    max-width: 220px;
    max-height: 220px;
    width: 100%;
}

/* === NAVIGATION STYLE - LINKS  === */
nav{
    text-align: center; /* keep the links in the center of the screen */
}
.button a{
    text-decoration: none;
    display: inline-block; /* do not wrap text in a anchor */
    padding: 15px 32px;
    transition-duration: 0.2s; /* fade back to normal */
}
.button a:hover{
    transition-duration: 0.5s; /* give the modern minimal animation */
    text-shadow: 0px 0px 1px #030504; /* RICH BLACK (FOGRA39) */
}
p a, li a{
    text-decoration: none;
    transition-duration: 0.2s; /* fade back to normal */
}
p a:hover, li a:hover{
    transition-duration: 0.5s; /* give the modern minimal animation */
    text-shadow: 0px 0px 1px #FF4D92; /*  */
}

/* === PAGE FOOTER === */
footer[role=contentinfo] {
    text-align: center;
    width: 100%;
}
footer[role=contentinfo] ul{
    padding-left: 0;
    list-style: none;
}
footer[role=contentinfo] div{
    /* this part should change in different @media screen sizes! */
    /* check for each size and set corresponding width percentage */
    width: 30%;
    display: inline-block;
}
footer[role=contentinfo] h3{
    font-weight: normal;
}
.foot-col-mid{
    border-left: 1px solid #dcdfde;
    border-right: 1px solid #dcdfde;
}


/* Ensure backward compatibility of HTML5 elements in this website
 * **************************************************************** */

article, aside, figcaption, figure, footer, header, hgroup, menu, nav,
section, {
    display: block;
}

/* === MEDIA SPECIFIC STYLES === */

/* 320px and up
 * ************************************ */
@media only screen and (min-width: 320px){
}

/* 480px and below
 * ************************************ */
@media only screen and (max-width: 480px){

    /* === hamburger navigation === */
    /* Show Hamburger Icon */
    #hamnav label { 
        display: inline-block; 
        background-color: #ff216e; /* AWESOME */
        color: #121413; /* LICORICE */
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
        transition-duration: .2s;
    }

    #hamnav label:hover{
        color: #ff216e;
        background-color: white;
        transition-duration: .2s;
    }

    /* Break down menu items into vertical */
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems {
        display: block;
    }


    /* === footer === */    
    footer[role=contentinfo] div{
        /* this part should change in different @media screen sizes! */
        /* check for each size and set corresponding width percentage */
        width: 70%;
    }

    .foot-col-mid{
        border-top: 1px solid #dcdfde;
        border-bottom: 1px solid #dcdfde;
        border-left: none;
        border-right: none;
    }
}

/* 600px and up
 * ************************************ */
@media only screen and (min-width: 600px){
}

/* 768px and up
 * ************************************ */
@media only screen and (min-width: 768px){
}
